# Node modules
node_modules/
*.lock

# Build ou fichiers générés
.next/
build/
dist/

# Env files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log




# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Exclure temporairement les fichiers spécifiques dans python_backend
/python_backend/solver.py


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environnement virtuel
venv/
.env
.env.local

# IDE
.vscode/
.idea/